#the following numbers and placeholders for env keys are simply dummy values.

# Camera Settings (TP-Link Tapo/ONVIF)
CAMERA_IP=192.168.1.50
CAMERA_USER=admin
CAMERA_PASS=your_password_here
RTSP_PORT=554
ONVIF_PORT=2020

# Application Logic
SENTRY_FPS=5
SENTRY_TELEMETRY_INTERVAL_SEC=1800
AE_THRESHOLD_MSE=0.004
AE_THRESHOLD_SSIM=0.35
TRAINING_MODE=ssim

# Gemini
USE_GEMINI=false
GEMINI_API_KEY=AI.......

# Azure Telemetry
DEVICE_ID=instance_name
IOTHUB_CONN_STRING=HostName=myhub.azure-devices.net;DeviceId=myDevice;SharedAccessKey=xyz...
TELEMETRY_IMAGE_FORMAT=jpg
TELEMETRY_IMAGE_QUALITY=70
TELEMETRY_IMAGE_MAX_WIDTH=640
QUEUE_DB=sentry_results/queue.db